<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <context:component-scan base-package="com.macie.controller, com.macie.config">
    </context:component-scan>
    <!-- 防止拦截静态资源 -->
    <mvc:default-servlet-handler />
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!-- 配置converter -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.macie.config.converter.StringToArticleConverter"/>
            </set>
        </property>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/publishArticle"/>
            <mvc:mapping path="/deleteArticle"/>
            <mvc:mapping path="/modifyUserInfo"/>
            <mvc:mapping path="/delete*"/>
            <bean id="loginInterceptor" class="com.macie.config.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 单文件不能超过5MB -->
        <property name="maxUploadSizePerFile" value="5242880" />

    </bean>
</beans>